.box-nt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-nt{
    margin: 3rem 1rem;
    background-color:rgba(55, 206, 198, 0.15);
    max-width: 1150px;
}
.container-nt h1{
    font-family: 'Cabin', sans-serif;
    color: var(--dark-blue);
    text-shadow: 1px 1px 3px white;
    padding:2rem 0rem 1.5rem 2.5rem;
}
.container-nt p{
    text-align: justify;
    color: black;
    line-height: 26px;
    padding: 0rem 2.5rem 1rem 2.5rem;
    text-shadow: 2px 2px 2px white;
}
.container-more{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 4rem;
    padding:1rem 0rem;
}
.more{
    width: 140px;
    height: 30px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    background-color: var(--dark-blue);
    box-shadow: -1px 1px 3px var(--black);
}

.more a{
    color: white;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 11px;
    text-shadow: 2px 2px 2px var(--black);
    letter-spacing: 2px;
}
@media screen and (min-width:1200px){
    .box-nt h1{
        padding:2rem 4rem 1.5rem 4rem;
    }
    .box-nt p{
        padding:0.5rem 4rem 1.5rem 4rem;
    }
    .container-more{
    padding-bottom: 2.5rem;
    }
}