*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.card-p {
    display: grid;
    grid-template-areas: 
    "titulo"
    "card-e"
    "card-pyp"
    "card-asis";
    margin: 1rem;
}
.card-p h1{
    padding: 10px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    background-color: rgba(155, 153, 153, 0.397);
    border-radius: 12px;
    max-width: 300px;
    max-height: 200px;
    margin-left: 22%;
}
.titulo-donar{
    grid-area: titulo;
}
.card-p h2{
    color: black;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    background-color: rgba(55, 206, 198, 0.63);
    text-shadow: 0px 4px 4px rgba(243, 247, 248, 0.829);
    border-radius: 10px;
    max-width: 300px;
    max-height: 200px;
    margin-left: 12%;
}
.card-p h3{
    color: rgb(43, 41, 41);    
    font-family: 'Cabin', sans-serif;
}
.card-p p{
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    padding: 1rem;

}

.card-e{
    grid-area: card-e;
}
.card-pyp{
    grid-area: card-pyp;
}
.card-asis{
    grid-area: card-asis;
}
.card-e, .card-pyp, .card-asis {
    padding: 10px;
    margin: 2rem;
    border-style:groove;
    box-shadow: 2px 2px 0px -0px rgba(21, 208, 255, 0.582);
    padding: 20px; ;
    border-color: rgba(0, 255, 255, 0.349);
    border-radius: 10px;
}

@media screen and (min-width:768px) {
    .card-p{
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo"
        "card-e card-pyp card-asis";
    }
    .card-p h1{
        margin-left: 30%;
    }
    .card-e, .card-pyp, .card-asis{
        padding: 10px;
        align-items: center;
        margin-left: 5%;
    }
    

}

@media screen and (min-width:1024px) {
    .card-p{
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo"
        "card-e card-pyp card-asis";
    }
    .card-p h1{
        margin-left: 40%;
    }

    

}



