@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

:root{
  --dark-blue:rgb(64,68,95);
  --light-blue:rgb(55, 206, 199);
  --yellow:rgb(245, 218, 69);
  --green:rgb(160,220,98);
  --black:rgb(44,37, 37);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
